/* Ely Knowles, CSC102, Assignment 7.2, 29APR2026 */
/* this controls background color of the page and aligns all text to center justification */
body
{
    background-color: rgb(1, 132, 255);
    text-align: center;
}
/* this changes the font and font color of the login information */
form
{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
/* this changes the font and font color of the heading */
h1
{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
/* this changes the color and font of the resuts */
p
{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;  
}
/* this aligns provides a 10px buffer between user input boxes */
.form-row 
{
    margin-bottom: 10px;
}
/* this forces the input boxes to behave like a block and thus allows us to control its size */
label 
{
    display: inline-block;
    width: 100px; /* controls alignment */
}
/* this provides a 5px buffer around the input boxes */
input 
{
    padding: 8px;
    border-radius: 10px;
    border: 1px solid white;
}

#credSubmit
{
    background-color: rgba(255, 255, 255, 0.25); /* semi-transparent white */
    backdrop-filter: blur(12px); /* glass blur effect */
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 25px;
    width: 300px;
    margin: auto;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);

    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}