/* Ely Knowles, CSC102, Assignment 7.2, 30APR2026 */

/* this assigns background color of body */
body
{
    background-color: rgb(1, 132, 255);
}

/* this formats the border of the cells in the table */
table
{
    border: 2px solid black;
    width: 100%;
    border-collapse: separate;/* keeps cells separate */
    border-spacing: 5px;/* controls space BETWEEN columns & rows */
}

/* formats column 1 title block */
#th1
{
    width: 60%; /*column width*/
    background-color: rgb(134, 134, 134);
    color: whitesmoke;
}

/* formats column 2 title block */
#th2
{
    width: 15%;/*column width*/
    background-color: rgb(134, 134, 134);
    color: whitesmoke;
}

/* formats column 3 title block */
#th3
{
    width: 25%; /*column width*/
    background-color: rgb(134, 134, 134); 
    color: whitesmoke; 
}

/* makes background color of every even row this color for ease of reading */
tr:nth-child(even)
{
    background-color: whitesmoke;
}

/* makes background color of every odd row this color for ease of reading */
tr:nth-child(odd)
{
    background-color: lightgray;
}

/* formats border of submit button */
#rowBTN
{
    /* display: block; */
    width: 180px; /*this makes all buttons the same width regardless of text inside*/ 
    background-color: grey; /*dictates button background color*/
    color: whitesmoke; /*font color inside button*/
    border: 2px solid black; /*adds solid black border 2 pixels wide */
    border-radius: 10px; /*gives the button rounded corners*/
    margin: 0;
    padding: 10px 20px; /*space around border*/
    transition: 0.3s; /* smooth hover effect */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  /*size and color of shadow effect*/
}

/* adds a hover effect to submit button when moused over */
#rowBTN:hover
{
    background-color: rgb(60, 97, 104);
    transform: scale(1.05); /* slight 5% grow */
}

/* creates a glass effect "floating dock" for table */
#tableContainer
{
    width: 85%;
    margin: 40px auto; /* centers it horizontally */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15); /* transparent look */
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 15px;
    backdrop-filter: blur(8px); /* creates glass effect */
}

/* this formats mainContainer with better control than using just body */
#mainContainer
{
    display: flex;/* puts items side-by-side */
    align-items: flex-start;/* aligns top edges */
    gap: 40px;/* space between buttons and list */
}

/* this formats the "container" around the buttons */
#buttonContainerLeft
{
    display: flex; /*allows button size to change*/
    flex-direction: column; /*stacks buttons vertically*/
    align-items: flex-start; /*stacks buttons on the left side of the page*/
    justify-content: flex-start; /*aligns items to top edge of window*/
    flex-wrap: wrap; /*keeps the buttons from overflowing*/
    gap: 10px; /*space around buttons to container*/

    /* this adds a "floating dock" styled border around the buttons */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px); /*this adds a glass effect bluring what is behind the border*/
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 20px;
    width: fit-content;
    margin: 20px; /* spacing from edge */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/* #buttonContainer button is a descendant selector applying formatting to all <button> inside buttonContainer  */
#buttonContainerLeft button
{
    display: block;
    width: 180px; /*this makes all buttons the same width regardless of text inside*/ 
    background-color: grey; /*dictates button background color*/
    color: whitesmoke; /*font color inside button*/
    border: 2px solid black; /*adds solid black border 2 pixels wide */
    border-radius: 10px; /*gives the button rounded corners*/
    margin: 0;
    padding: 10px 20px; /*space around border*/
    transition: 0.3s; /* smooth hover effect */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  /*size and color of shadow effect*/
}

/* this changes the background color of the bottons when user mouses over them */
#buttonContainerLeft button:hover
{
    background-color: rgb(60, 97, 104);
    transform: scale(1.05); /* slight 5% grow */
}

/* this formats the uat shield logo and keeps it in the bottom left hand corner of the window */
#uatLogo
{
    position: fixed;/* locks it to the window */
    bottom: 20px;/* distance from bottom */
    left: 20px;/* distance from left */
    width: 120px;/* adjust size */
    height: auto;/* keeps height proportional */
    opacity: 0.9;/* reduced opacity for a slightly more subtle look */
}

/* this formats the image used as the background */
#image
{
    position: fixed;/* sticks to screen */
    top: 0; /* starting top fixed position in px */
    left: 0; /* starting left position in px */
    width: 100%; /*essentially tells image that body is 100% width of window */
    height: 100%; /* essentially tells image that body is 100% height of window */
    object-fit: cover; /* fills screen with image */
    z-index: -1; /* puts it behind everything */
}