/* Ely Knowles, CSC102, Assignment 7.2, 29APR2026 */
/* this controls background color of the page and text color outside of the buttons and aligns everything to the center */
body
{
    background-color: rgb(1, 132, 255);
    color: whitesmoke;
    text-align: center;
}

/* this controls font of the header */
h1
{
    font-family: Arial, Helvetica, sans-serif;
}

/* this creates a border around the meme buttons */
#btnContainer
{
    /* inline-block forces border around contents rather than entire parent(line on page) */
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 99, 124);
    /* a 2px wide solid black border with 10px R corners */
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px; 
}

/* this formats the border around the nav buttons */
#buttonContainerLeft
{
    display: flex; /*allows button size to change*/
    flex-direction: column; /*stacks buttons vertically*/
    align-items: flex-start; /*stacks buttons on the left side of the page*/
    justify-content: flex-start; /**/
    flex-wrap: wrap; /*keepts the buttons from overflowing*/
    gap: 10px; /*space around buttons to container*/
    
    /* this adds a "floating dock" styled border around the buttons */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px); /*this adds a glass effect bluring what is behind the border*/
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 20px;
    width: fit-content;
    margin: 20px; /* spacing from edge */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/* #buttonContainer button is a descendant selector applying formatting to all <button> inside buttonContainerLeft  */
#buttonContainerLeft button
{
    display: block;
    width: 180px; /*this makes all buttons the same width regardless of text inside*/ 
    background-color: grey; /*dictates button background color*/
    color: whitesmoke; /*font color inside button*/
    border: 2px solid black; /*adds solid black border 2 pixels wide */
    border-radius: 10px; /*gives the button rounded corners*/
    margin: 0;
    padding: 10px 20px; /*space around border*/
    transition: 0.3s; /* smooth hover effect */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  /*size and color of shadow effect*/
}

/* this changes the background color of the nav bottons when user mouses over them */
#buttonContainerLeft button:hover
{
    background-color: rgb(60, 97, 104);
    transform: scale(1.05); /* slight 5% grow */
}

/* this formats the style of the start move button */
#startMove
{
    /* inline-block allows button to be displayed on same line as stop button. */
    /* this also defines the formatting of the button and its border */
    display: inline-block;
    margin: 0 auto;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

/* this formats the style of the stop move button similar to the start move button*/
#stopMove
{
    display: inline-block;
    margin: 0 auto;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}

#startMove:hover /*this causes the "Ask Chuck to Move" button to change size, shape, color, and adds a border when the user hovers the mouse over the button*/ 
{
    background-color: rgb(0, 253, 76);
    border-color: black;
    border-radius: 25px;
    /* this changes the pointer to a hand when hovering over the button */
    cursor:pointer;
    padding: 16px 32px;
    transition-duration: 0.4s;
}

#stopMove:hover /*this causes the "Ask Chuck to Stop" button to change size, shape, color, and adds a border when the user hovers the mouse over the button*/ 
{
    background-color: red;
    border-color: black;
    border-radius: 25px;
    /* this changes the pointer to a hand when hovering over the button */
    cursor:pointer;
    padding: 16px 32px;
    transition-duration: 0.4s;
}

/* this alings chucks position to center under the buttons and controls font and text color */
#msg
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

/* this controls the formating of the chuck meme */
#imgChuck 
{
    /* this makes the image behave like a block */
    display: none;
    /* this centers the image with a 20px margin */
    margin: 20px auto;
    /* this creates a shadow effect around the image */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    /* this curves the "shadow box" to make it look smoother */
    border-radius: 10px;
    /* this is the time for the shadow to appear */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* this formats the uat shield logo and keeps it in the bottom left hand corner of the window */
#uatLogo
{
    position: fixed;/* locks it to the window */
    bottom: 20px;/* distance from bottom */
    left: 20px;/* distance from left */
    width: 120px;/* adjust size */
    height: auto;/* keeps height proportional */
    opacity: 0.9;/* reduced opacity for a slightly more subtle look */
}