/* Ely Knowles, CSC102, Assignment 7.2, 28APR2026 */

/* formats the body with respect to page color, font, font color, and content alignment */
body
{
    background-color: rgb(1, 132, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin: 20px;
    text-align: center;
}

/* formats the header only for font color and alignment */
h1
{
    width: calc(100% - 150px); /* subtract buttonContainLeft width */
    margin-left: 200px; /* push it over to align with list */
    color: whitesmoke;
    text-align: center;
}

/* this formats all the content independent of the body */
#mainContainer
{
    display: flex;/* puts items side-by-side */
    align-items: flex-start;/* aligns top edges */
    gap: 40px;/* space between buttons and list */
}

/* this formats the nav buttons */
#buttonContainerLeft
{
    display: flex; /*allows button position to change*/
    flex-direction: column; /*stacks buttons vertically*/
    align-items: flex-start; /*stacks buttons on the left side of the page*/
    justify-content: flex-start; /*aligns button contents within button border */
    flex-wrap: wrap; /*keepts the buttons from overflowing*/
    gap: 10px; /*space around buttons to container*/
    
    /* this adds a "floating dock" styled border around the buttons */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px); /*this adds a glass effect bluring what is behind the border*/
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 20px;
    width: fit-content; /*adjusts font to fit inside border*/
    margin: 20px; /* spacing from edge */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
}

/* #buttonContainerLeft button is a descendant selector applying formatting to all <button> inside buttonContainerLeft  */
#buttonContainerLeft button
{
    display: block;
    width: 180px; /*this makes all buttons the same width regardless of text inside*/ 
    background-color: grey; /*dictates button background color*/
    color: whitesmoke; /*font color inside button*/
    border: 2px solid black; /*adds solid black border 2 pixels wide */
    border-radius: 10px; /*gives the button rounded corners*/
    margin: 0;
    padding: 10px 20px; /*space around border*/
    transition: 0.3s; /* smooth hover effect */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  /*size and color of shadow effect*/
}

/* this changes the background color of the nav bottons when user mouses over them */
#buttonContainerLeft button:hover
{
    background-color: rgb(60, 97, 104);
    transform: scale(1.05); /* slight 5% grow */
}

/* this formats the "container" around the buttons */
#buttonContainer
{
    display: flex; /*allows button size to change*/
    justify-content: center; /*centers words inside button*/
    flex-wrap: wrap; /*keepts the buttons from overflowing*/
    gap: 10px; /*space around buttons to container*/
}

/* #buttonContainer button is a descendant selector applying formatting to all <button> inside buttonContainer  */
#buttonContainer button
{
    display: inline-block; /* allows button to be on same line as next button*/
    margin: 0 auto; /*scales button*/
    background-color: grey; /*dictates button background color*/
    color: whitesmoke; /*font color inside button*/
    border: 2px solid black; /*adds solid black border 2 pixels wide */
    border-radius: 10px; /*gives the button rounded corners*/
    padding: 10px 20px; /*space around border*/
    transition: 0.3s; /* smooth hover effect */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  /*size and color of shadow effect*/
}

/* this changes the background color of the bottons when user mouses over them */
#buttonContainer button:hover
{
    background-color: rgb(60, 97, 104);
    transform: scale(1.05); /* slight 5% grow */
}

/* using a "." calls a class identifier where as # calls a id=  */
/* this formats the "result" making it look like a proper shopping list */
.checklistBox
{
    width: 300px;
    margin: 20px auto;
    padding: 15px;

    background-color: rgb(128,128,128);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 8px gray;

    list-style-position: inside; /*this places the bullets INSIDE the result rather than on the left side of the body*/
    text-align: left; /* this aligns the list item text to the left side of the result box*/
}

/* this formats the uat shield logo and keeps it in the bottom left hand corner of the window */
#uatLogo
{
    position: fixed;/* locks it to the window */
    bottom: 20px;/* distance from bottom */
    left: 20px;/* distance from left */
    width: 120px;/* adjust size */
    height: auto;/* keeps height proportional */
    opacity: 0.9;/* reduced opacity for a slightly more subtle look */
}
